<div id= "favorite">
</br></br>
    Name: <%=pokemon.species.name%> </br>
    Height: <%=pokemon.height %> </br>
    Moves: <%= pokemon.moves[0].move.name %>, <%= pokemon.moves[1].move.name %> </br>
    <img src= <%= pokemon.sprites.front_default%>> </br>


</div>